<ion-view view-title="Literasi Kesehatan">
    <div class="bar bar-subheader bar-calm">
        <h2 class="title left nama">Formulir kuesioner kesehatan digital</h2>
    </div>
    <ion-content class="kmt has-subheader" style="padding-bottom: 10px">
      <form name="myForm">
        <ion-list>
            <div class="item item-divider item-text-wrap">
                Bagian 6. Kepercayaan diri dalam menggunakan teknologi
            </div>
            
            <div class="item item-text-wrap item-row">
                <div class="row">
                    <div class="input-label-home">Dari skala <b>tidak yakin sama sekali (skor 1)</b> sampai <b>sangat yakin (skor 4)</b>, berilah penilaian atas kepercayaan diri Anda dalam menggunakan komputer. Seberapa yakinkah Anda dalam mengoperasikan hal-hal berikut:</div>
                </div>
            </div>

            <!-- <label class="big-screen item item-text-wrap item-row" ng-repeat="(key,val) in listKmt">
                <div class="row">
                    <div class="col col-50 col-center input-label"><b>{{key}}.</b> {{val}} </div>
                    <div class="col col-50 col-center">
                        <div class="button-bar right">
                            <ion-radio ng-required="true" class="radio-likert" name="kmt{{key}}" ng-model="kmt['kmt'+key]" ng-value="1">1</ion-radio>
                            <ion-radio ng-required="true" class="radio-likert" name="kmt{{key}}" ng-model="kmt['kmt'+key]" ng-value="2">2</ion-radio>
                            <ion-radio ng-required="true" class="radio-likert" name="kmt{{key}}" ng-model="kmt['kmt'+key]" ng-value="3">3</ion-radio>
                            <ion-radio ng-required="true" class="radio-likert" name="kmt{{key}}" ng-model="kmt['kmt'+key]" ng-value="4">4</ion-radio>
                        </div>
                    </div>
                </div>
            </label> -->

            <label class="item item-text-wrap" ng-repeat="(key,val) in listKmt">
                <span class="input-label full">
                    <b>{{key}}.</b> {{val}} 
                </span >
                <div class="button-bar right">
                    <div class="button-bar right">
                        <ion-radio ng-required="true" class="radio-likert" name="kmt{{key}}" ng-model="kmt['kmt'+key]" ng-value="1">1</ion-radio>
                        <ion-radio ng-required="true" class="radio-likert" name="kmt{{key}}" ng-model="kmt['kmt'+key]" ng-value="2">2</ion-radio>
                        <ion-radio ng-required="true" class="radio-likert" name="kmt{{key}}" ng-model="kmt['kmt'+key]" ng-value="3">3</ion-radio>
                        <ion-radio ng-required="true" class="radio-likert" name="kmt{{key}}" ng-model="kmt['kmt'+key]" ng-value="4">4</ion-radio>
                    </div>
                </div>
            </label>
            
        </ion-list>
        
      </form>
        <!-- Buttons-->
        <div class="item-group">
            <button class="button simpan button-positive pull-left" ng-click="save('pst')" >
                <i class="icon ion-arrow-left-c"></i>Kembali
            </button>
            <button ng-if="AllowSave()" class="button simpan button-positive pull-right" ng-click="save('kbt')">
                Lanjut<i class="icon ion-arrow-right-c"></i>
            </button>
        </div>

        <!-- Buttons-->
    </ion-content>
</ion-view>


